table{
    border-collapse: collapse;
}

td{
    cursor: pointer;
    font-size: 50px;
    height: 90px;
    width: 90px;
    border: 1px solid rgb(10, 9, 9);
    vertical-align: middle;
    text-align: center;
}

#zielony{
    color: green;
}

#czerwony{
    color: red;
}